<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ngin___Automated_Extraction_CoFat_Pré_pago.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Ngin___Automated_Extraction_CoFat_Pré_pago.Properties.Settings>
            <setting name="SaveIn" serializeAs="String">
                <value />
            </setting>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DataReferencia" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBoxData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Chrome" serializeAs="String">
                <value />
            </setting>
        </Ngin___Automated_Extraction_CoFat_Pré_pago.Properties.Settings>
    </userSettings>
</configuration>